---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div class="border-border bg-muted/30 rounded-lg border-2 p-6">
  <h4 class="font-semibold">{title}</h4>
  <p class="text-foreground mt-2 text-sm leading-relaxed sm:text-justify">{description}</p>
</div>
